@charset "UTF-8";
.doctor_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 0;
}

.doctor_page .doctor_page_main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doctor_page .doctor_page_main .doctor_page_main_left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px;
}

.doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_avatargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_avatargroup p {
  margin-top: 15px;
}

.doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup {
  margin-left: 80px;
}

.doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

.doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_specialty, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_experience, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_category, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_degree, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_phonetitle, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_phone {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_specialty, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_experience, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_category, .doctor_page .doctor_page_main .doctor_page_main_left #doctor_page_main_left_infogroup_degree {
  color: #00c6dd;
}

.doctor_page .doctor_page_main #doctor_page_main_right {
  width: 40%;
}

.doctor_page .doctor_page_info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px 0;
}

.doctor_page .doctor_page_info .doctor_page_info_left {
  width: 60%;
}

.doctor_page .doctor_page_info .doctor_page_info_left h1 {
  font-weight: bold;
  font-size: 50px;
  color: #00C6DD;
  margin-bottom: 35px;
}

.doctor_page .doctor_page_info .doctor_page_info_left p {
  font-size: 20px;
  padding-right: 80px;
}

.doctor_page .doctor_page_info .doctor_page_info_right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.doctor_page .doctor_page_info .doctor_page_info_right #doctor_page_info_right_receptiontype {
  margin-right: 50px;
}

.doctor_page .doctor_page_info .doctor_page_info_right #doctor_page_info_right_receptiontype_title {
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0;
}

.doctor_page .doctor_page_info .doctor_page_info_right #doctor_page_info_right_receptiontype p {
  font-size: 15px;
  color: #00C6DD;
  border: 1px solid #00C6DD;
  border-radius: 10px;
  padding: 9px 13px;
  text-align: center;
  margin-bottom: 15px;
}

.doctor_page .doctor_page_info .doctor_page_info_right #doctor_page_info_right_receptiondate_title {
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0 25px 0;
}

.doctor_page .doctor_page_info .doctor_page_info_right #doctor_page_info_right_receptiondate p {
  font-size: 15px;
  color: #00C6DD;
  margin-bottom: 35px;
}

.doctor_page .doctor_page_specialty {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_left {
  width: 60%;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_left h1 {
  font-weight: bold;
  font-size: 50px;
  color: #00C6DD;
  margin-bottom: 35px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_left ul {
  font-size: 20px;
  padding-right: 80px;
  list-style: none;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_left ul li {
  margin-bottom: 13px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_left ul li:first-child {
  margin-top: 13px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_left ul li::before {
  content: '•';
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
  font-size: 12px;
  margin-right: 4px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_receptiontype {
  margin-right: 50px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_receptiontype_title {
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_receptiontype p {
  font-size: 15px;
  color: #00C6DD;
  border: 1px solid #00C6DD;
  border-radius: 10px;
  padding: 9px 13px;
  text-align: center;
  margin-bottom: 15px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_receptiontype_button {
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #00C6DD;
  border: 2px solid #00C6DD;
  border-radius: 10px;
  padding: 8px 22px;
  margin-top: 50px;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_receptiontype_button:hover {
  cursor: pointer;
  color: #00c6dd;
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_cost_title {
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0 25px 0;
}

.doctor_page .doctor_page_specialty .doctor_page_specialty_right #doctor_page_specialty_right_cost p {
  font-size: 15px;
  color: #00C6DD;
  margin-bottom: 35px;
}

.doctor_page .doctor_page_certificates {
  margin-bottom: 50px;
}

.doctor_page .doctor_page_certificates #doctor_page_certificates_title {
  font-size: 50px;
  line-height: 61px;
  color: #00C6DD;
  margin-bottom: 35px;
}

.doctor_page .doctor_page_certificates .doctor_page_certificates_items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doctor_page .doctor_page_certificates .doctor_page_certificates_items div {
  width: 30%;
  height: 500px;
  border: 1px solid #00C6DD;
  border-radius: 10px;
}
/*# sourceMappingURL=doctor.module.css.map */