.doctor_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 0;

  .doctor_page_main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    .doctor_page_main_left {
      width: 60%;
      display: flex;
      flex-direction: row;
      padding: 50px;
      #doctor_page_main_left_avatargroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-top: 15px;
        }
      }
      #doctor_page_main_left_infogroup {
        margin-left: 80px;
        &_name {
          font-weight: 600;
          font-size: 24px;
          margin-bottom: 15px;
        }
        &_specialty, &_experience, &_category, &_degree, &_phonetitle, &_phone {
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &_specialty, &_experience, &_category, &_degree {
          color: #00c6dd;
        }
      }
    }
    #doctor_page_main_right {
      width: 40%;
    }
  }

  .doctor_page_info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
    .doctor_page_info_left {
      width: 60%;
      h1 {
        font-weight: bold;
        font-size: 50px;
        color: #00C6DD;
        margin-bottom: 35px;
      }
      p {
        font-size: 20px;
        padding-right: 80px;
      }
    }
    .doctor_page_info_right {
      width: 40%;
      display: flex;
      flex-direction: row;
      #doctor_page_info_right_receptiontype {
        margin-right: 50px;
        &_title {
          font-size: 20px;
          font-weight: normal;
          margin: 15px 0;
        }
        p {
          font-size: 15px;
          color: #00C6DD;
          border: 1px solid #00C6DD;
          border-radius: 10px;
          padding: 9px 13px;
          text-align: center;
          margin-bottom: 15px;
        }
      }
      #doctor_page_info_right_receptiondate {
        &_title {
          font-size: 20px;
          font-weight: normal;
          margin: 15px 0 25px 0;
        }
        p {
          font-size: 15px;
          color: #00C6DD;
          margin-bottom: 35px;
        }
      }
    }
  }

  .doctor_page_specialty {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    .doctor_page_specialty_left {
      width: 60%;
      h1 {
        font-weight: bold;
        font-size: 50px;
        color: #00C6DD;
        margin-bottom: 35px;
      }
      ul {
        font-size: 20px;
        padding-right: 80px;
        list-style: none;
        li {
          margin-bottom: 13px;
          &:first-child { 
            margin-top: 13px; 
          }
          &::before {
            content: '•'; 
            vertical-align: middle;
            display: inline-block;
            margin-top: -3px;
            font-size: 12px;
            margin-right: 4px;
          }
        }
      }
    }
    .doctor_page_specialty_right {
      width: 40%;
      display: flex;
      flex-direction: row;
      #doctor_page_specialty_right_receptiontype {
        margin-right: 50px;
        &_title {
          font-size: 20px;
          font-weight: normal;
          margin: 15px 0;
        }
        p {
          font-size: 15px;
          color: #00C6DD;
          border: 1px solid #00C6DD;
          border-radius: 10px;
          padding: 9px 13px;
          text-align: center;
          margin-bottom: 15px;
        }
        &_button {
          font-weight: 600;
          font-size: 17px;
          color: #FFFFFF;
          background-color: #00C6DD;
          border: 2px solid #00C6DD;
          border-radius: 10px;
          padding: 8px 22px;
          margin-top: 50px;
          &:hover {
            cursor: pointer;
            color: #00c6dd;
            background-color: transparent;
            transition: all .3s ease-in-out;
          }
        }
      }
      #doctor_page_specialty_right_cost {
        &_title {
          font-size: 20px;
          font-weight: normal;
          margin: 15px 0 25px 0;
        }
        p {
          font-size: 15px;
          color: #00C6DD;
          margin-bottom: 35px;
        }
      }
    }
  }

  .doctor_page_certificates {
    margin-bottom: 50px;
    #doctor_page_certificates_title {
      font-size: 50px;
      line-height: 61px;
      color: #00C6DD;
      margin-bottom: 35px;
    }
    .doctor_page_certificates_items {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        width: 30%;
        height: 500px;
        border: 1px solid #00C6DD;
        border-radius: 10px;
      }
    }
  }
}