.doctor_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

  .MuiBreadcrumbs-root {
    padding: 60px 80px 0;
    font-family: 'Roboto', sans-serif;
    .MuiBreadcrumbs-separator {
      font-size: 14px;
      color: #898F97;
    }
    #doctor_page_breadcrumb_passive {
      font-size: 14px;
      color: #898F97;
    }
    #doctor_page_breadcrumb_active {
      font-size: 14px;
      color: #00AFCA;
    }
  }


  .doctor_page_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 80px;
    margin-top: 60px;
    .doctor_page_main_left {
      width: 380px;
      margin-right: 30px;
      #doctor_page_doctors_data {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color:#FCFCFC;
        border-radius: 5px;
        margin: 0 0 25px 0;
        padding: 25px;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          transition: all .2s ease-in-out
        }
        #doctor_page_doctors_data_image {
          width: 100%;
          height: auto;
          margin-bottom: 16px;
          border-radius: 5px;
        }
        #doctor_page_doctors_data_info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          h3 {
            font-weight: bold;
            font-size: 24px;
            color: #2B2B2B;
            padding-bottom: 18px;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
              text-underline-offset: 3px;
              transition: all .3s ease-in-out;
            }
          }
          .doctor_page_doctors_data_info_chipgroup {
            width: 100%;
            padding-bottom: 16px;
            .MuiChip-root {
              color: #fff;
              background: #4BC6C6;
              border-radius: 5px;
              margin-right: 8px;    
              margin-bottom: 5px;     
              padding: 4px 6px;
              font-size: 16px;
              font-weight: 500;
              text-align: center;
            }
            .MuiIconButton-root {
              padding: 0;
            }
            #doctor_page_doctors_data_info_specialties {
              font-weight: bold;
              font-size: 16px;
              color: #4F4F4F;
            }
          }
          #doctor_page_doctors_data_info_experience {
            font-weight: bold;
            font-size: 16px;
            color: #4F4F4F;
            padding-bottom: 16px;
          }
          #doctor_page_doctors_data_info_address {
            font-weight: 500;
            font-size: 17px;
            color: #4F4F4F;
            padding-bottom: 16px;
          }
          #doctor_page_doctors_data_info_lastblock {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            #doctor_page_doctors_data_info_phonegroup {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-weight: bold;
              font-size: 18px;
              color: #828282;
              svg {
                margin-right: 8px;
              }
            }
            #doctor_page_doctors_data_info_stargroup {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-weight: bold;
              font-size: 18px;
              color: #828282;
              svg {
                margin-right: 8px;
              }
            }
          }
          #doctor_page_doctors_data_button {
            background: #00AFCA;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            padding: 13px 0;
            margin-top: 30px;
            text-align: center;
            border: 2px solid #00AFCA;
            &:hover {
              cursor: pointer;
              background: transparent;
              color: #00AFCA;
              transition: all .3s ease-in-out;
            }
          }
        }
      }
    }
    .doctor_page_main_right {
      width: 70%;
      .doctor_page_tabs_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color:#FCFCFC;
        border-radius: 5px;
        margin: 0;
        padding: 30px;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          transition: all .2s ease-in-out
        }
        .MuiAppBar-colorPrimary {
          background-color: transparent;
          color: #828282;
        }
        .MuiBox-root  {
          padding: 30px 0 0;
        }
        .MuiTabs-flexContainer {
          justify-content: space-between;
        }
        .MuiPaper-elevation4 {
          box-shadow: none;
          border-bottom: 2px solid #D3D3D3;
        }
        .MuiTabs-indicator {
          background-color: #00AFCA;
        }
        .MuiTab-textColorInherit.Mui-selected {
          color: #2B2B2B;
        }
        .MuiTab-root {
          font-family: 'Roboto';
          font-size: 25px;
          color: #828282;
          text-transform: none;
        }
        #doctor_page_tabs_about {
          display: flex;
          flex-direction: column;
          span {
            margin-top: 15px;
            font-family: 'Roboto';
            font-size: 18px;
            color: #000000;
          }
        }
        #doctor_page_tabs_map-container {
          #map {
            width: 100%;
            height: 400px;
            border-radius: 5px;
          }
        }
        .doctor_page_tabs_reception {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .doctor_page_tabs_reception_type {
            display: flex;
            flex-direction: column;
            width: 100%;
            #doctor_page_tabs_reception_type_title {
              font-family: 'Roboto';
              font-weight: 500;
              font-size: 20px;
              color: #000000;
              margin-bottom: 18px;
            }
            .doctor_page_tabs_reception_type_cells {
              display: flex;
              flex-direction: column;
              #doctor_page_tabs_reception_type_cells_titles {
                display: flex;
                flex-direction: row;
                th {
                  width: 320px;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 18px;
                  color: #000000;
                  padding: 19px 0;
                  text-align: center;
                  background: rgba(48, 159, 176, 0.15);
                  border-radius: 5px;
                  border: 1px solid #E0E0E0;
                  margin: 0 5px 5px 0;
                }
              }
              #doctor_page_tabs_reception_type_cells_cost {
                display: flex;
                flex-direction: row;
                td {
                  width: 320px;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 18px;
                  color: #000000;
                  padding: 19px 0;
                  text-align: center;
                  background: transparent;
                  border-radius: 5px;
                  border: 2px solid #E0F1F3;
                  margin: 0 5px 5px 0;
                }
              }
            }             
          }
          .doctor_page_tabs_reception_schedule {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            width: 100%;
            #doctor_page_tabs_reception_schedule_title {
              font-family: 'Roboto';
              font-weight: 500;
              font-size: 20px;
              color: #000000;
              margin-bottom: 18px;
            }
            .doctor_page_tabs_reception_schedule_cells {
              display: flex;
              flex-direction: column;
              #doctor_page_tabs_reception_schedule_cells_titles {
                display: flex;
                flex-direction: row;
                th {
                  width: 320px !important;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 18px;
                  color: #000000;
                  padding: 19px 0;
                  text-align: center;
                  background: rgba(48, 159, 176, 0.15);
                  border-radius: 5px;
                  border: 1px solid #E0E0E0;
                  margin: 0 5px 5px 0;
                }
              }
              #doctor_page_tabs_reception_schedule_cells_cost {
                display: flex;
                flex-direction: row;
                td {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 320px !important;
                  margin: 0 5px 5px 0;
                  font-family: 'Inter', sans-serif;
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 16px;
                  color: #2B2B2B;
                  padding: 10px;
                  text-align: center;
                  background: #E3EFF4;
                  border-radius: 5px;
                  border: 1px solid #E3EFF4;
                  #onClinic, #onHome, #onLine {
                    width: 75%;
                    border-radius: 5px;
                    padding: 2px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 10px;
                  }
                  #onClinic {
                    background: #00C6DD;
                  }
                  #onHome {
                    background: #82D965;
                  }
                  #onLine {
                    background: #DEA2F6;
                  }
                }
              }
            }             
          }
        }
      }
    }
  }


  #doctor_page_rating_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 45px;
    color: #2B2B2B;
    padding: 0 80px;
    margin-top: 50px;    
  }


  .doctor_page_rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 80px;
    #doctor_page_rating_p {
      text-align: center;
      font-family: 'Roboto';
      font-size: 35px;
      color: #4F4F4F;
    }
    .MuiRating-sizeLarge {
      font-size: 50px;
    }
  }


  #doctor_page_doctors_title {
    padding: 0 80px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 45px;
    color: #2B2B2B;
    margin-top: 80px;
  }


  .doctor_page_doctors {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 120px;
    #doctor_page_doctors_slide {
      display: inline-flex;
      flex-direction: row;
      width: 406px !important;
      height: auto;
      background-color:#FCFCFC;
      border-radius: 5px;
      margin: 0 25px 25px 0;
      padding: 25px;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
        transition: all .2s ease-in-out
      }
      #doctor_page_doctors_slide_image {
        width: 100%;
        margin-bottom: 16px;
        border-radius: 5px;
      }
      #doctor_page_doctors_slide_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          font-weight: bold;
          font-size: 24px;
          color: #2B2B2B;
          padding-bottom: 18px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 3px;
            transition: all .3s ease-in-out;
          }
        }
        .doctor_page_doctors_slide_info_chipgroup {
          width: 100%;
          padding-bottom: 16px;
          .MuiChip-root {
            color: #fff;
            background: #4BC6C6;
            border-radius: 5px;
            margin-right: 8px;    
            margin-bottom: 5px;     
            padding: 4px 6px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
          }
          .MuiIconButton-root {
            padding: 0;
          }
        }
        #doctor_page_doctors_slide_info_experience {
          font-weight: bold;
          font-size: 16px;
          color: #4F4F4F;
          padding-bottom: 16px;
        }
        #doctor_page_doctors_slide_info_address {
          font-weight: 500;
          font-size: 17px;
          color: #4F4F4F;
          padding-bottom: 16px;
        }
        #doctor_page_doctors_slide_info_lastblock {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          #doctor_page_doctors_slide_info_phonegroup {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            color: #828282;
            svg {
              margin-right: 8px;
            }
          }
          #doctor_page_doctors_slide_info_stargroup {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            color: #828282;
            svg {
              margin-right: 8px;
            }
          }
        }
      }
    }
    .doctor_page_doctors_button_group {
      button {
        background-color: transparent;
        outline: none;
        border: none;
        &:first-child {
          margin-right: 40px;
        }
      }
      svg:hover {
        cursor: pointer;
        fill: #00AFCA;
        stroke: #00AFCA;
      }
    }
  }


  aside[data-testid="react-scroll-up-button"] {
    background-color: #00AFCA !important;
    border: 2px solid #00AFCA !important; 
    width: 60px !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50%;
      fill: #fff !important;
      stroke: none;
    }
  }

  .slick-track {
    float: left;
    display: flex !important;
  }


  /* FOR MEDIA QUERIES */ 
  @media only screen and (max-width: 1500px) {
    .doctor_page_main {
      .doctor_page_main_right {
        .doctor_page_tabs_container {
          margin: 0;
          .doctor_page_tabs_reception_schedule {
            width: 870px;
            overflow-x: scroll;
            padding-bottom: 10px;
            #doctor_page_tabs_reception_schedule_title {
              width: 870px;
            }
            .doctor_page_tabs_reception_schedule_cells {
              width: 870px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .doctor_page_main {
      flex-direction: column;
      // margin-bottom: 80px;
      .doctor_page_main_left {
        width: 100%;
        #doctor_page_doctors_data {
          flex-direction: row;
          justify-content: space-between;
          #doctor_page_doctors_data_image {
            width: 37%;
          }
          #doctor_page_doctors_data_info {
            width: 60%;
          }
        }
      }
      .doctor_page_main_right {
        width: 100%;
        .doctor_page_tabs_container {
          margin: 0;
          .doctor_page_tabs_reception_schedule {
            width: 100%;
            #doctor_page_tabs_reception_schedule_title {
              width: 100%;
            }
            .doctor_page_tabs_reception_schedule_cells {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .doctor_page_main {
      .doctor_page_main_left {
        #doctor_page_doctors_data {
          #doctor_page_doctors_data_image {
            height: 100%;
          }
        }
      }
      .doctor_page_main_right {
        .doctor_page_tabs_container {
          margin: 0;
          .doctor_page_tabs_reception_schedule {
            width: 870px;
            overflow-x: scroll;
            padding-bottom: 10px;
            #doctor_page_tabs_reception_schedule_title {
              width: 870px;
            }
            .doctor_page_tabs_reception_schedule_cells {
              width: 870px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .MuiBreadcrumbs-root {
      padding: 60px 45px 0;
    }
    .doctor_page_main {
      padding: 0 45px;
    }
    #doctor_page_rating_title {
      padding: 0 45px;
      font-size: 40px;
      margin-top: 50px;
    }
    .doctor_page_rating {
      padding: 0 45px;
      margin-top: 45px;
    }
    #doctor_page_doctors_title {
      padding: 0 45px;
      font-size: 40px;
    }
    .doctor_page_doctors {
      padding: 0 45px;
      margin-top: 45px;
      .doctor_page_doctors_button_group {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .MuiBreadcrumbs-root {
      padding: 60px 39px 0;
    }
    .doctor_page_main {
      padding: 0 39px;
      .doctor_page_main_left {
        #doctor_page_doctors_data {
          flex-direction: column;
          justify-content: center;
          #doctor_page_doctors_data_image {
            width: 100%;
            height: auto;
            align-self: center;
          }
          #doctor_page_doctors_data_info {
            width: 100%;
          }
        }
      }
    }
    #doctor_page_rating_title {
      padding: 0 39px;
    }
    .doctor_page_rating {
      padding: 0 39px;
      #doctor_page_rating_p {
        font-size: 25px;
      }
    }
    #doctor_page_doctors_title {
      padding: 0 39px;
    }
    .doctor_page_doctors {
      padding: 0 39px;
    }
  }

  @media only screen and (max-width: 500px) {
    .doctor_page_main {
      .doctor_page_main_right {
        .doctor_page_tabs_container {
          margin: 0;
          .doctor_page_tabs_reception_type {
            width: 360px;
            overflow-x: scroll;
            padding-bottom: 10px;
            #doctor_page_tabs_reception_type_title {
              width: 360px;
            }
            .doctor_page_tabs_reception_type_cells {
              width: 360px;
              #doctor_page_tabs_reception_type_cells_titles {
                th {
                  width: 120px;
                }
              } 
              #doctor_page_tabs_reception_type_cells_cost {
                th {
                  width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 375px) {
    .MuiBreadcrumbs-root {
      padding: 60px 16px 0;
    }
    .doctor_page_main {
      padding: 0 16px;
      .doctor_page_main_left {
        #doctor_page_doctors_data {
          padding: 10px;
        }
      }
    }
    #doctor_page_rating_title {
      padding: 0 16px;
      font-size: 30px;
    }
    .doctor_page_rating {
      padding: 0 16px;
      #doctor_page_rating_p {
        font-size: 20px;
      }
    }
    #doctor_page_doctors_title {
      padding: 0 16px;
      font-size: 30px;
    }
    .doctor_page_doctors {
      padding: 0 16px;
      #doctor_page_doctors_slide {
        padding: 10px;
      }
    }
  }
}