.search {
  width: 100%;
  height: 100%;
  background-color: #32495e;
  padding: 120px 80px 120px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  #search_title1 {
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 0 26%;
    margin-bottom: 60px;
  }
  .search_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    div[role=combobox] {
      margin: 0 15px;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      &:hover {
        border-color: #00C6DD;
      }
    }
    .MuiFormLabel-root, .MuiInputBase-input, .MuiIconButton-root {
      color: #fff;
    }
    .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #0059DE;
    }
    #search_button {
      width: 200px;
      height: 100%;
      padding: auto 36px;
      color: #fff;
      background: #0059DE;
      border: 1px solid #0059DE;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        color: #fff;
        border-color: #fff;
        background: transparent;
        transition: all .3s ease-in-out;
      }
    }
  }
}


.specialties {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  .specialties_titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    #specialties_titles_1 {
      font-size: 45px;
      font-weight: 500;
      color: #2B2B2B;
      text-align: start;
    }
    #specialties_titles_link {
      font-weight: 500;
      font-size: 22px;
      color: #2B2B2B;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
  #specialties_slide {
    display: inline-flex;
    flex-direction: row;
    width: 23.1% !important;
    height: auto;
    padding: 30px;
    color: #fff;
    background-color: #4FBABA;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    text-align: start;
    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      #specialties_slide_content_right {
        cursor: pointer;
        stroke: #0059DE;
        transition: .3s all ease-in-out;
      }
    }
    #specialties_slide_content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      #specialties_slide_content_left {
        display: flex;
        flex-direction: row;
        align-items: center;
        h3 {
          font-weight: 500;
          font-size: 20px;
          margin-right: 8px;
        }
        p {
          font-size: 20px;
          margin-right: 2px;
        }
      }
    }
  }
  .specialties_button_group {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      &:first-child {
        margin-right: 40px;
      }
    }
    svg:hover {
      cursor: pointer;
      fill: #0059DE;
      stroke: #0059DE;
    }
  }
}


.clinics {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  .clinics_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    #clinics_titles_1 {
      font-weight: 500;
      font-size: 45px;
      color: #2B2B2B;
      text-align: start;
    }
    #clinics_titles_link {
      font-weight: 500;
      font-size: 22px;
      color: #2B2B2B;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
  #clinics_slide {
    display: inline-flex;
    flex-direction: row;
    width: auto !important;
    height: auto;
    background-color:#FCFCFC;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    padding: 25px;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    }
    #clinics_slide_image {
      width: 100%;
      margin-bottom: 16px;
    }
    #clinics_slide_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        font-weight: bold;
        font-size: 24px;
        color: #2B2B2B;
        padding-bottom: 16px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 6px;
          transition: all .3s ease-in-out;
        }
      }
      #clinics_slide_info_typeofclinic {
        font-weight: bold;
        font-size: 17px;
        color: #4F4F4F;
        padding-bottom: 16px;
      }
      &_article {
        font-size: 15px;
        color: #464646;
        padding-bottom: 17px;
      }
      #clinics_slide_info_address {
        font-weight: 600;
        font-size: 17px;
        color: #333333;
        font-family: 'Montserrat';
        padding-bottom: 16px;
      }
      #clinics_slide_info_lastblock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #clinics_slide_info_phonegroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
        #clinics_slide_info_stargroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .clinics_button_group {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      &:first-child {
        margin-right: 40px;
      }
    }
    svg:hover {
      cursor: pointer;
      fill: #0059DE;
      stroke: #0059DE;
    }
  }
}


.doctors {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 100px 0;
  .doctors_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    #doctors_titles_1 {
      font-weight: 500;
      font-size: 45px;
      color: #2B2B2B;
      text-align: start;
    }
    #doctors_titles_link {
      font-weight: 500;
      font-size: 22px;
      color: #2B2B2B;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
  #doctors_slide {
    display: inline-flex;
    flex-direction: row;
    width: auto !important;
    height: auto;
    background-color:#FCFCFC;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    padding: 25px;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    }
    #doctors_slide_image {
      width: 100%;
      margin-bottom: 16px;
      border-radius: 5px;
    }
    #doctors_slide_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        font-weight: bold;
        font-size: 24px;
        color: #2B2B2B;
        padding-bottom: 18px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
          transition: all .3s ease-in-out;
        }
      }
      .doctors_slide_info_chipgroup {
        width: 100%;
        padding-bottom: 16px;
        .MuiChip-root {
          color: #fff;
          background: #4BC6C6;
          border-radius: 5px;
          margin-right: 8px;    
          margin-bottom: 5px;     
          padding: 4px 6px;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
        .MuiIconButton-root {
          padding: 0;
        }
      }
      #doctors_slide_info_experience {
        font-weight: bold;
        font-size: 16px;
        color: #4F4F4F;
        padding-bottom: 16px;
      }
      #doctors_slide_info_address {
        font-weight: 500;
        font-size: 17px;
        color: #4F4F4F;
        padding-bottom: 16px;
      }
      #doctors_slide_info_lastblock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #doctors_slide_info_phonegroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
        #doctors_slide_info_stargroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .doctors_button_group {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      &:first-child {
        margin-right: 40px;
      }
    }
    svg:hover {
      cursor: pointer;
      fill: #0059DE;
      stroke: #0059DE;
    }
  }
}