.search {
  width: 100%;
  height: 100%;
  background: url('../../content/images/main/image16.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 120px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  .main_header {
    // background: rgba(0, 0, 0, 0.301);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 28px 80px 24px;
    border-bottom: 0.8px solid #FFFFFF;
    .main_header_nav {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    ul {
      list-style: none;
    }
    .main_header_nav_bar {
      .main_header_nav_items {
        display: flex;
        flex-direction: row;
        font-size: 20px;      
        li {
          margin: 0 42.5px;
          color: #fff;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: #fff;
            text-decoration-thickness: 1px;
            text-underline-offset: 8px;
            transition: all .3s ease-in-out;
          }
        }
        li a {
          color: #fff;
        }
      }
    }
    .main_header_icon_group {
      display: flex;
      justify-content: space-evenly;
      width: 10%;
      svg:hover {
        cursor: pointer;
      }
      img {
        width: 23px;
        height: 23px;
      }
      #main_header_logout-button {
        outline: none;
        border: none;
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
      }
      a {
        align-self: center;
      }
      .MuiPaper-root {
        .MuiList-padding {
          padding: 15px 15px 8px;
        }
        .MuiListItem-button {
          border-radius: 3px;
          border: 1px solid #919191;
          text-transform: uppercase;
        }
        .MuiListItem-button {
          margin-bottom: 10px;
        }
        .MuiListItem-button:hover {
          background-color: #00AFCA;
          transition: .1s all ease-in-out;
          color: #fff;
          border-color: #00AFCA;
        }
      }
    }
  }
  #search_title1 {
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 0 26%;
    margin: 165px 0 60px;
  }
  .search_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 80px;
    div[role=combobox] {
      margin: 0 15px;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      &:hover {
        border-color: #00C6DD;
      }
    }
    .MuiFormLabel-root, .MuiInputBase-input, .MuiIconButton-root {
      color: #fff;
    }
    .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #00AFCA;
    }
    #search_button {
      width: 145px;
      height: 100%;
      padding: 13px 36px;
      color: #fff;
      background: #0059DE;;
      border: 2px solid #0059DE;;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        color: #fff;
        border-color: #0059DE;
        transition: all .3s ease-in-out;
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
      }
    }
  }
}


.search_group_mobile {
  display: none;
  margin: 50px 0;
  padding: 0 45px;
  div[role="combobox"] {
    margin: 10px 0;
  }
  div[role=combobox]:first-child {
    margin-left: 0;
  }
  .MuiAutocomplete-root {
    width: 100% !important;
  }
  .MuiFormLabel-root.Mui-focused {
    color: #00AFCA;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #00AFCA;
  }
  #search_group_mobile_button_link {
    margin-top: 15px;
    #search_group_mobile_button {
      width: 100%;
      height: 100%;
      padding: 13px;
      color: #fff;
      background: #00AFCA;;
      border: 2px solid #00AFCA;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        color: #fff;
        border-color: #00AFCA;
        transition: all .3s ease-in-out;
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
      }
    }
  }
}


.specialties {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  .specialties_titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    #specialties_titles_1 {
      font-size: 45px;
      font-weight: 500;
      color: #2B2B2B;
      text-align: start;
    }
    #specialties_titles_link {
      font-weight: 500;
      font-size: 22px;
      color: #2B2B2B;
      padding-right: 35px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
  .slick-slider {
    white-space: nowrap;
  }
  #specialties_slide-link {
    display: inline-flex;
    flex-direction: row;
    // width: 23.1% !important;
    width: 309px !important;
    height: auto;
    padding: 30px;
    color: #fff;
    background-color: #87C672;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    text-align: start;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      #specialties_slide_content_right {
        stroke: #00AFCA;
        transition: .3s all ease-in-out;
      }
    }
    #specialties_slide_content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      #specialties_slide_content_left {
        display: flex;
        flex-direction: row;
        align-items: center;
        h3 {
          font-weight: 500;
          font-size: 20px;
          margin-right: 8px;
        }
        p {
          font-size: 20px;
          margin-right: 2px;
        }
      }
    }
  }
  .specialties_button_group {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      &:first-child {
        margin-right: 40px;
      }
    }
    svg:hover {
      cursor: pointer;
      fill: #00AFCA;
      stroke: #00AFCA;
    }
  }
}


.clinics {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  .clinics_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    #clinics_titles_1 {
      font-weight: 500;
      font-size: 45px;
      color: #2B2B2B;
      text-align: start;
    }
    #clinics_titles_link {
      font-weight: 500;
      font-size: 22px;
      color: #2B2B2B;
      padding-right: 35px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
  .clinics_slide {
    display: inline-flex;
    flex-direction: row;
    // width: 23.1% !important;
    width: 406px !important;
    height: auto;
    background-color:#FCFCFC;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    padding: 25px;
    flex-wrap: nowrap;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      transition: all .2s ease-in-out
    }
    #clinics_slide_image {
      width: 100%;
      margin-bottom: 16px;
    }
    #clinics_slide_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        font-weight: bold;
        font-size: 24px;
        color: #2B2B2B;
        padding-bottom: 16px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 6px;
          transition: all .3s ease-in-out;
        }
      }
      #clinics_slide_info_typeofclinic {
        font-weight: bold;
        font-size: 17px;
        color: #4F4F4F;
        padding-bottom: 16px;
      }
      &_article {
        font-size: 15px;
        color: #464646;
        padding-bottom: 17px;
      }
      #clinics_slide_info_address {
        font-weight: 600;
        font-size: 17px;
        color: #333333;
        font-family: 'Montserrat';
        padding-bottom: 16px;
      }
      #clinics_slide_info_lastblock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #clinics_slide_info_phonegroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
        #clinics_slide_info_stargroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .clinics_button_group {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      &:first-child {
        margin-right: 40px;
      }
    }
    svg:hover {
      cursor: pointer;
      fill: #00AFCA;
      stroke: #00AFCA;
    }
  }
}


.doctors {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 100px 0;
  .doctors_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    #doctors_titles_1 {
      font-weight: 500;
      font-size: 45px;
      color: #2B2B2B;
      text-align: start;
    }
    #doctors_titles_link {
      font-weight: 500;
      font-size: 22px;
      color: #2B2B2B;
      padding-right: 35px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
  #doctors_slide {
    // display: inline-flex;
    // flex-direction: row;
    width: 406px !important;
    height: auto;
    background-color:#FCFCFC;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    padding: 25px;
    flex-wrap: nowrap;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      transition: all .2s ease-in-out
    }
    #doctors_slide_image {
      width: 100%;
      margin-bottom: 16px;
      border-radius: 5px;
    }
    #doctors_slide_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        font-weight: bold;
        font-size: 24px;
        color: #2B2B2B;
        padding-bottom: 18px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 3px;
          transition: all .3s ease-in-out;
        }
      }
      .doctors_slide_info_chipgroup {
        width: 100%;
        padding-bottom: 16px;
        .MuiChip-root {
          color: #fff;
          background: #4BC6C6;
          border-radius: 5px;
          margin-right: 8px;    
          margin-bottom: 5px;     
          padding: 4px 6px;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
        .MuiIconButton-root {
          padding: 0;
        }
      }
      #doctors_slide_info_experience {
        font-weight: bold;
        font-size: 16px;
        color: #4F4F4F;
        padding-bottom: 16px;
      }
      #doctors_slide_info_address {
        font-weight: 500;
        font-size: 17px;
        color: #4F4F4F;
        padding-bottom: 16px;
      }
      #doctors_slide_info_lastblock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #doctors_slide_info_phonegroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
        #doctors_slide_info_stargroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
          color: #828282;
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .doctors_button_group {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      &:first-child {
        margin-right: 40px;
      }
    }
    svg:hover {
      cursor: pointer;
      fill: #00AFCA;
      stroke: #00AFCA;
    }
  }
}


aside[data-testid="react-scroll-up-button"] {
  background-color: #00AFCA !important;
  border: 2px solid #00AFCA !important; 
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 50%;
    fill: #fff !important;
    stroke: none;
  }
}


.slick-track {
  display: flex !important;
  float: left;
  // max-height: 600px;
}


// #doctors_slider_container {
//   width: 100%;
//   height: 600px;
// }


@media only screen and (max-width: 1468px) {
  .specialties {
    .slick-list {
      // float: left;
      // overflow-x: auto !important;
    }
  }
  .clinics {
    .slick-list {
      // float: left;
      // overflow-x: auto !important;
    }
  }
  .doctors {
    .slick-list {
      // float: left;
      // overflow-x: auto !important;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .search {
    padding: 0;
    #search_title1 {
      font-size: 40px;
      margin: 55px 0 130px;
    }
    .search_group {
      display: none;
    }
  }
  .search_group_mobile {
    padding: 0 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .specialties {
    padding: 0 45px 0;
    .specialties_titles {
      margin-bottom: 45px;
      #specialties_titles_1 {
        font-size: 40px;
      }
      #specialties_titles_link {
        font-size: 22px;
      }
    }
  }
  .clinics {
    padding: 0 45px 0;
    .clinics_titles {
      margin-bottom: 45px;
      #clinics_titles_1 {
        font-size: 40px;
      }
      #clinics_titles_link {
        font-size: 22px;
      }
    }
  }
  .doctors {
    padding: 0 45px 0;
    .doctors_titles {
      margin-bottom: 45px;
      #doctors_titles_1 {
        font-size: 40px;
      }
      #doctors_titles_link {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .search {
    #search_title1 {
      font-size: 35px;
      padding: 0 20%;
    }
  }
  .search_group_mobile {
    padding: 0 39px 0;
  }
  .specialties {
    padding: 0 39px 0;
    .specialties_titles {
      margin-bottom: 30px;
      #specialties_titles_1 {
        // width: 60%;
        font-size: 35px;
      }
      #specialties_titles_link {
        // width: 30%;
        font-size: 16px;
      }
    }
  }
  .clinics {
    padding: 0 39px 0;
    .clinics_titles {
      margin-bottom: 30px;
      #clinics_titles_1 {
        // width: 60%;
        font-size: 35px;
      }
      #clinics_titles_link {
        // width: 30%;
        font-size: 16px;
      }
    }
    .clinics_slide {
      width: 325px !important;
    }
  }
  .doctors {
    padding: 0 39px 0;
    .doctors_titles {
      margin-bottom: 30px;
      #doctors_titles_1 {
        // width: 60%;
        font-size: 35px;
      }
      #doctors_titles_link {
        // width: 30%;
        font-size: 16px;
      }
    }
    #doctors_slide {
      width: 325px !important;
    }
  }
}


@media only screen and (max-width: 520px) {
  .specialties {
    .specialties_titles {
      flex-direction: column;
      align-items: flex-start;
      #specialties_titles_link {
        margin-top: 20px;
      }
    }
  }
  .clinics {
    .clinics_titles {
      flex-direction: column;
      align-items: flex-start;
      #clinics_titles_link {
        margin-top: 20px;
      }
    }
  }
  .doctors {
    .doctors_titles {
      flex-direction: column;
      align-items: flex-start;
      #doctors_titles_link {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .search_group_mobile {
    padding: 0 16px 0;
  }
  .specialties {
    padding: 0 16px 0;
  }
  .clinics {
    padding: 0 16px 0;
    #clinics_slide {
      width: 308px !important;
      padding: 10px;
    }
  }
  .doctors {
    padding: 0 16px 0;
    #doctors_slide {
      width: 308px !important;
      padding: 10px;
    }
  }
}