.search {
  width: 100%;
  height: 100vh;
  background: url("../../content/images/main/Rectangle_87.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 80px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.search .header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 185px;
}

.search .header .header_nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .header ul {
  list-style: none;
}

.search .header .nav_bar .nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

.search .header .nav_bar .nav_items li {
  margin: 0 42.5px;
  color: #fff;
}

.search .header .nav_bar .nav_items li:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.search .header .nav_bar .nav_items li a {
  color: #fff;
}

.search .header .icon_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10%;
}

.search .header .icon_group svg:hover {
  cursor: pointer;
}

.search .header .icon_group img {
  width: 23px;
  height: 23px;
}

.search .header .icon_group #logout-button {
  outline: none;
  border: none;
  background-color: transparent;
}

.search .header .icon_group #logout-button:hover {
  cursor: pointer;
}

.search #search_title1 {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding: 0 26%;
  margin-bottom: 60px;
}

.search .search_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.search .search_group div[role=combobox] {
  margin: 0 15px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.search .search_group div[role=combobox]:hover {
  border-color: #00C6DD;
}

.search .search_group .MuiFormLabel-root, .search .search_group .MuiInputBase-input, .search .search_group .MuiIconButton-root {
  color: #fff;
}

.search .search_group .MuiOutlinedInput-notchedOutline, .search .search_group .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

.search .search_group .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00AFCA;
}

.search .search_group #search_button {
  width: 200px;
  height: 100%;
  padding: auto 36px;
  color: #fff;
  background: #0059DE;
  border: 2px solid #0059DE;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.search .search_group #search_button:hover {
  cursor: pointer;
  color: #fff;
  border-color: #0059DE;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.specialties {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 55px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
}

.specialties .specialties_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.specialties .specialties_titles #specialties_titles_1 {
  font-size: 45px;
  font-weight: 500;
  color: #2B2B2B;
  text-align: start;
}

.specialties .specialties_titles #specialties_titles_link {
  font-weight: 500;
  font-size: 22px;
  color: #2B2B2B;
  padding-right: 35px;
}

.specialties .specialties_titles #specialties_titles_link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.specialties #specialties_slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 23.1% !important;
  height: auto;
  padding: 30px;
  color: #fff;
  background-color: #F5864D;
  border-radius: 5px;
  margin: 0 25px 25px 0;
  text-align: start;
}

.specialties #specialties_slide:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.specialties #specialties_slide:hover #specialties_slide_content_right {
  stroke: #00AFCA;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.specialties #specialties_slide #specialties_slide_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specialties #specialties_slide #specialties_slide_content #specialties_slide_content_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialties #specialties_slide #specialties_slide_content #specialties_slide_content_left h3 {
  font-weight: 500;
  font-size: 20px;
  margin-right: 8px;
}

.specialties #specialties_slide #specialties_slide_content #specialties_slide_content_left p {
  font-size: 20px;
  margin-right: 2px;
}

.specialties .specialties_button_group button {
  background-color: transparent;
  outline: none;
  border: none;
}

.specialties .specialties_button_group button:first-child {
  margin-right: 40px;
}

.specialties .specialties_button_group svg:hover {
  cursor: pointer;
  fill: #00AFCA;
  stroke: #00AFCA;
}

.clinics {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 55px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
}

.clinics .clinics_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.clinics .clinics_titles #clinics_titles_1 {
  font-weight: 500;
  font-size: 45px;
  color: #2B2B2B;
  text-align: start;
}

.clinics .clinics_titles #clinics_titles_link {
  font-weight: 500;
  font-size: 22px;
  color: #2B2B2B;
  padding-right: 35px;
}

.clinics .clinics_titles #clinics_titles_link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.clinics #clinics_slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto !important;
  height: auto;
  background-color: #FCFCFC;
  border-radius: 5px;
  margin: 0 25px 25px 0;
  padding: 25px;
}

.clinics #clinics_slide:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.clinics #clinics_slide #clinics_slide_image {
  width: 100%;
  margin-bottom: 16px;
}

.clinics #clinics_slide #clinics_slide_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.clinics #clinics_slide #clinics_slide_info h3 {
  font-weight: bold;
  font-size: 24px;
  color: #2B2B2B;
  padding-bottom: 16px;
}

.clinics #clinics_slide #clinics_slide_info h3:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_typeofclinic {
  font-weight: bold;
  font-size: 17px;
  color: #4F4F4F;
  padding-bottom: 16px;
}

.clinics #clinics_slide #clinics_slide_info_article {
  font-size: 15px;
  color: #464646;
  padding-bottom: 17px;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_address {
  font-weight: 600;
  font-size: 17px;
  color: #333333;
  font-family: 'Montserrat';
  padding-bottom: 16px;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_lastblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_lastblock #clinics_slide_info_phonegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_lastblock #clinics_slide_info_phonegroup svg {
  margin-right: 8px;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_lastblock #clinics_slide_info_stargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.clinics #clinics_slide #clinics_slide_info #clinics_slide_info_lastblock #clinics_slide_info_stargroup svg {
  margin-right: 8px;
}

.clinics .clinics_button_group button {
  background-color: transparent;
  outline: none;
  border: none;
}

.clinics .clinics_button_group button:first-child {
  margin-right: 40px;
}

.clinics .clinics_button_group svg:hover {
  cursor: pointer;
  fill: #00AFCA;
  stroke: #00AFCA;
}

.doctors {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 55px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 100px 0;
}

.doctors .doctors_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.doctors .doctors_titles #doctors_titles_1 {
  font-weight: 500;
  font-size: 45px;
  color: #2B2B2B;
  text-align: start;
}

.doctors .doctors_titles #doctors_titles_link {
  font-weight: 500;
  font-size: 22px;
  color: #2B2B2B;
  padding-right: 35px;
}

.doctors .doctors_titles #doctors_titles_link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.doctors #doctors_slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto !important;
  height: auto;
  background-color: #FCFCFC;
  border-radius: 5px;
  margin: 0 25px 25px 0;
  padding: 25px;
}

.doctors #doctors_slide:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.doctors #doctors_slide #doctors_slide_image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
}

.doctors #doctors_slide #doctors_slide_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.doctors #doctors_slide #doctors_slide_info h3 {
  font-weight: bold;
  font-size: 24px;
  color: #2B2B2B;
  padding-bottom: 18px;
}

.doctors #doctors_slide #doctors_slide_info h3:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.doctors #doctors_slide #doctors_slide_info .doctors_slide_info_chipgroup {
  width: 100%;
  padding-bottom: 16px;
}

.doctors #doctors_slide #doctors_slide_info .doctors_slide_info_chipgroup .MuiChip-root {
  color: #fff;
  background: #4BC6C6;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 5px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.doctors #doctors_slide #doctors_slide_info .doctors_slide_info_chipgroup .MuiIconButton-root {
  padding: 0;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_experience {
  font-weight: bold;
  font-size: 16px;
  color: #4F4F4F;
  padding-bottom: 16px;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_address {
  font-weight: 500;
  font-size: 17px;
  color: #4F4F4F;
  padding-bottom: 16px;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_lastblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_lastblock #doctors_slide_info_phonegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_lastblock #doctors_slide_info_phonegroup svg {
  margin-right: 8px;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_lastblock #doctors_slide_info_stargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.doctors #doctors_slide #doctors_slide_info #doctors_slide_info_lastblock #doctors_slide_info_stargroup svg {
  margin-right: 8px;
}

.doctors .doctors_button_group button {
  background-color: transparent;
  outline: none;
  border: none;
}

.doctors .doctors_button_group button:first-child {
  margin-right: 40px;
}

.doctors .doctors_button_group svg:hover {
  cursor: pointer;
  fill: #00AFCA;
  stroke: #00AFCA;
}

aside[data-testid="react-scroll-up-button"] {
  background-color: #00AFCA !important;
  border: 2px solid #00AFCA !important;
  width: 60px !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside[data-testid="react-scroll-up-button"] svg {
  width: 50%;
  fill: #fff !important;
  stroke: none;
}
/*# sourceMappingURL=mainPage.css.map */