.specialties_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* MEDIA QUERIES */
}

.specialties_page .MuiBreadcrumbs-root {
  padding: 60px 80px 0;
  font-family: 'Roboto', sans-serif;
}

.specialties_page .MuiBreadcrumbs-root .MuiBreadcrumbs-separator {
  font-size: 14px;
  color: #898F97;
}

.specialties_page .MuiBreadcrumbs-root #specialties_page_breadcrumb_passive {
  font-size: 14px;
  color: #898F97;
}

.specialties_page .MuiBreadcrumbs-root #specialties_page_breadcrumb_active {
  font-size: 14px;
  color: #00AFCA;
}

.specialties_page #specialties_page_article1 {
  font-weight: bold;
  font-size: 64px;
  color: #2B2B2B;
  padding: 0 80px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.specialties_page #specialties_page_article2 {
  font-weight: 500;
  font-size: 35px;
  color: #2B2B2B;
  padding: 0 80px;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
}

.specialties_page .specialties_page_search_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  padding: 0 80px;
}

.specialties_page .specialties_page_search_group div[role=combobox] {
  margin: 0 15px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.specialties_page .specialties_page_search_group div[role=combobox]:hover {
  border-color: #00AFCA;
}

.specialties_page .specialties_page_search_group div[role=combobox]:first-child {
  margin-left: 0;
}

.specialties_page .specialties_page_search_group .MuiFormLabel-root {
  color: #BDBDBD;
}

.specialties_page .specialties_page_search_group .MuiOutlinedInput-notchedOutline, .specialties_page .specialties_page_search_group .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #BDBDBD;
}

.specialties_page .specialties_page_search_group .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00AFCA;
}

.specialties_page .specialties_page_search_group .MuiFormLabel-root.Mui-focused {
  color: #00AFCA;
}

.specialties_page .specialties_page_search_group .MuiIconButton-root {
  color: #BDBDBD;
}

.specialties_page .specialties_page_search_group #specialties_page_search_button {
  width: 200px;
  height: 100%;
  padding: auto 36px;
  color: #fff;
  background: #00AFCA;
  border: 2px solid #00AFCA;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.specialties_page .specialties_page_search_group #specialties_page_search_button:hover {
  cursor: pointer;
  color: #00AFCA;
  border-color: #00AFCA;
  background: transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.specialties_page .specialties_page_specialties {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 80px;
  -webkit-column-width: 18em;
  column-width: 18em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  margin-bottom: 120px;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item {
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 5px 5px 14px;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item h1 {
  color: #00AFCA;
  margin-bottom: 16px;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item ul {
  list-style: none;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item a li {
  margin-bottom: 16px;
  padding-right: 10px;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item a li:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-color: #00AFCA;
          text-decoration-color: #00AFCA;
}

.specialties_page .specialties_page_specialties #specialties_page_specialties_item a p {
  color: #828282;
}

.specialties_page aside[data-testid="react-scroll-up-button"] {
  background-color: #00AFCA !important;
  border: 2px solid #00AFCA !important;
  width: 60px !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialties_page aside[data-testid="react-scroll-up-button"] svg {
  width: 50%;
  fill: #fff !important;
  stroke: none;
}

@media only screen and (max-width: 1024px) {
  .specialties_page .MuiBreadcrumbs-root {
    padding: 60px 45px 0;
  }
  .specialties_page #specialties_page_article1 {
    font-size: 50px;
    padding: 0 45px;
  }
  .specialties_page #specialties_page_article2 {
    padding: 0 45px;
  }
  .specialties_page .specialties_page_search_group {
    padding: 0 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
  }
  .specialties_page .specialties_page_search_group div[role="combobox"] {
    margin: 10px 0;
  }
  .specialties_page .specialties_page_search_group div[role=combobox]:first-child {
    margin-left: 0;
  }
  .specialties_page .specialties_page_search_group .MuiAutocomplete-root {
    width: 100% !important;
  }
  .specialties_page .specialties_page_search_group a {
    margin-top: 20px;
  }
  .specialties_page .specialties_page_search_group #specialties_page_search_button {
    padding: 13px;
    width: 100%;
  }
  .specialties_page .specialties_page_specialties {
    padding: 0 45px;
  }
}

@media only screen and (max-width: 768px) {
  .specialties_page .MuiBreadcrumbs-root {
    padding: 60px 39px 0;
  }
  .specialties_page #specialties_page_article1 {
    font-size: 40px;
    padding: 0 39px;
  }
  .specialties_page #specialties_page_article2 {
    padding: 0 39px;
  }
  .specialties_page .specialties_page_search_group {
    padding: 0 39px;
  }
  .specialties_page .specialties_page_specialties {
    padding: 0 39px;
  }
}

@media only screen and (max-width: 375px) {
  .specialties_page .MuiBreadcrumbs-root {
    padding: 60px 16px 0;
  }
  .specialties_page #specialties_page_article1 {
    font-size: 30px;
    padding: 0 16px;
  }
  .specialties_page #specialties_page_article2 {
    padding: 0 16px;
    display: none;
  }
  .specialties_page .specialties_page_search_group {
    padding: 0 16px;
  }
  .specialties_page .specialties_page_specialties {
    padding: 0 16px;
  }
}
/*# sourceMappingURL=specialties.css.map */