.personal_client_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.personal_client_page .MuiBreadcrumbs-root {
  padding: 60px 80px 0;
  font-family: 'Roboto', sans-serif;
}

.personal_client_page .MuiBreadcrumbs-root .MuiBreadcrumbs-separator {
  font-size: 14px;
  color: #898F97;
}

.personal_client_page .MuiBreadcrumbs-root #personal_client_page_breadcrumb_passive {
  font-size: 14px;
  color: #898F97;
}

.personal_client_page .MuiBreadcrumbs-root #personal_client_page_breadcrumb_active {
  font-size: 14px;
  color: #00AFCA;
}

.personal_client_page #personal_client_page_title {
  font-weight: bold;
  font-size: 64px;
  color: #000000;
  padding: 0 80px;
  margin-top: 30px;
}

.personal_client_page .personal_client_page_main_right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: transparent;
  border-radius: 5px;
  padding: 25px 80px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiPaper-root.MuiAppBar-root {
  width: 24%;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiAppBar-colorPrimary {
  background-color: transparent;
  color: #828282;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiTabs-flexContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiPaper-elevation4 {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #D3D3D3;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiTabs-indicator {
  background-color: #00AFCA;
  height: 3px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiBox-root {
  padding: 24px 0;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiTab-textColorInherit.Mui-selected {
  color: #2B2B2B;
  font-weight: 500;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .MuiTab-root {
  font-family: 'Roboto';
  font-size: 30px;
  color: #828282;
  text-transform: none;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 100px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
  height: auto;
  background-color: #FCFCFC;
  border-radius: 5px;
  margin: 0 25px 25px 0;
  padding: 25px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide .search_page_doctors_slide_imagegroup {
  position: relative;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide .search_page_doctors_slide_imagegroup #search_page_doctors_slide_image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
  position: relative;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide .search_page_doctors_slide_imagegroup .search_page_doctors_slide_image_buttongroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 5%;
  top: 70%;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide .search_page_doctors_slide_imagegroup .search_page_doctors_slide_image_buttongroup button {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide .search_page_doctors_slide_imagegroup .search_page_doctors_slide_image_buttongroup button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide .search_page_doctors_slide_imagegroup .search_page_doctors_slide_image_buttongroup #search_page_doctors_slide_image_deletebutton {
  padding: 12px 10px 7px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info h3 {
  font-weight: bold;
  font-size: 24px;
  color: #2B2B2B;
  padding-bottom: 18px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info h3:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info .search_page_doctors_slide_info_chipgroup {
  width: 100%;
  padding-bottom: 16px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info .search_page_doctors_slide_info_chipgroup .MuiChip-root {
  color: #fff;
  background: #4BC6C6;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 5px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info .search_page_doctors_slide_info_chipgroup .MuiIconButton-root {
  padding: 0;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_experience {
  font-weight: bold;
  font-size: 16px;
  color: #4F4F4F;
  padding-bottom: 16px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_address {
  font-weight: 500;
  font-size: 17px;
  color: #4F4F4F;
  padding-bottom: 16px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_lastblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_lastblock #search_page_doctors_slide_info_phonegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_lastblock #search_page_doctors_slide_info_phonegroup svg {
  margin-right: 8px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_lastblock #search_page_doctors_slide_info_stargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .search_page_doctors_list #search_page_doctors_slide #search_page_doctors_slide_info #search_page_doctors_slide_info_lastblock #search_page_doctors_slide_info_stargroup svg {
  margin-right: 8px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 100px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide {
  width: 31%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FCFCFC;
  border-radius: 5px;
  margin: 0 25px 25px 0;
  padding: 25px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide .clinics_page_clinics_slide_imagegroup {
  position: relative;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide .clinics_page_clinics_slide_imagegroup #clinics_page_clinics_slide_image {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
  position: relative;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide .clinics_page_clinics_slide_imagegroup .clinics_page_clinics_slide_image_buttongroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 5%;
  top: 65%;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide .clinics_page_clinics_slide_imagegroup .clinics_page_clinics_slide_image_buttongroup button {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide .clinics_page_clinics_slide_imagegroup .clinics_page_clinics_slide_image_buttongroup button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide .clinics_page_clinics_slide_imagegroup .clinics_page_clinics_slide_image_buttongroup #clinics_page_clinics_slide_image_deletebutton {
  padding: 12px 10px 7px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info h3 {
  font-weight: bold;
  font-size: 24px;
  color: #2B2B2B;
  padding-bottom: 16px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info h3:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_typeofclinic {
  font-weight: bold;
  font-size: 17px;
  color: #4F4F4F;
  padding-bottom: 16px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info_article {
  font-size: 15px;
  color: #464646;
  padding-bottom: 17px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_address {
  font-weight: 600;
  font-size: 17px;
  color: #333333;
  font-family: 'Montserrat';
  padding-bottom: 16px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_lastblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_lastblock #clinics_page_clinics_slide_info_phonegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_lastblock #clinics_page_clinics_slide_info_phonegroup svg {
  margin-right: 8px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_lastblock #clinics_page_clinics_slide_info_stargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics #clinics_page_clinics_slide #clinics_page_clinics_slide_info #clinics_page_clinics_slide_info_lastblock #clinics_page_clinics_slide_info_stargroup svg {
  margin-right: 8px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics .clinics_page_clinics_button_group button {
  background-color: transparent;
  outline: none;
  border: none;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics .clinics_page_clinics_button_group button:first-child {
  margin-right: 40px;
}

.personal_client_page .personal_client_page_main_right .personal_client_page_tabs_container .clinics_page_clinics .clinics_page_clinics_button_group svg:hover {
  cursor: pointer;
  fill: #00AFCA;
  stroke: #00AFCA;
}

.personal_client_page aside[data-testid="react-scroll-up-button"] {
  background-color: #00AFCA !important;
  border: 2px solid #00AFCA !important;
  width: 60px !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal_client_page aside[data-testid="react-scroll-up-button"] svg {
  width: 50%;
  fill: #fff !important;
  stroke: none;
}
/*# sourceMappingURL=pc-client.css.map */