.personal_doctor_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;


  .MuiBreadcrumbs-root {
    padding: 60px 80px 0;
    font-family: 'Roboto', sans-serif;
    .MuiBreadcrumbs-separator {
      font-size: 14px;
      color: #898F97;
    }
    #personal_doctor_page_breadcrumb_passive {
      font-size: 14px;
      color: #898F97;
    }
    #personal_doctor_page_breadcrumb_active {
      font-size: 14px;
      color: #00AFCA;
    }
  }


  #personal_doctor_page_title {
    font-weight: bold;
    font-size: 64px;
    color: #000000;
    padding: 0 80px;
    margin-top: 30px;
  }


  .personal_doctor_page_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    margin-top: 60px;
    .personal_doctor_page_main_left {
      width: 31%;
      #personal_doctor_page_doctors_data {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color:#FCFCFC;
        border-radius: 5px;
        margin: 0 0 25px 0;
        padding: 25px;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          transition: all .2s ease-in-out
        }
        .personal_doctor_page_doctors_data_imagegroup {
          position: relative;
          #personal_doctor_page_doctors_data_image {
            width: 100%;
            margin-bottom: 16px;
            border-radius: 5px;
            position: relative;
          }
          .personal_doctor_page_doctors_data_image_buttongroup {
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 5%;
            top: 75%;
            button {
              outline: none;
              border: none;
              background-color: #fff;
              border-radius: 100%;
              text-align: center;
              &:hover {
                cursor: pointer;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              }
            }
            #personal_doctor_page_doctors_data_image_deletebutton_label {
              margin-right: 20px;
              #personal_doctor_page_doctors_data_image_deletebutton {
                padding: 12px 20px;
                border-radius: 100%;
                text-align: center;
                outline: none;
                border: none;
                &:hover {
                  cursor: pointer;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
              }
              svg {
                position: absolute;
                bottom: 27%;
                right: 72%;
                text-align: center;
                &:hover {
                  cursor: pointer;
                }
              }
            }
            #personal_doctor_page_doctors_data_image_editbutton_label {
              #personal_doctor_page_doctors_data_image_editbutton {
                padding: 12px 20px;
                border-radius: 100%;
                text-align: center;
                outline: none;
                border: none;
                &:hover {
                  cursor: pointer;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
              }
              svg {
                position: absolute;
                bottom: 27%;
                right: 10%;
                text-align: center;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
        #personal_doctor_page_doctors_data_info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          h3 {
            font-weight: bold;
            font-size: 24px;
            color: #2B2B2B;
            padding-bottom: 18px;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
              text-underline-offset: 3px;
              transition: all .3s ease-in-out;
            }
          }
          .MuiFormControl-root {
            margin-top: 30px;
          }
          .MuiFormLabel-root {
            color: #BDBDBD;
            margin-bottom: 10px;
          }
          .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: #BDBDBD;
          }
          .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #00AFCA;
          }
          .MuiFormLabel-root.Mui-focused {
            color: #00AFCA;
          }
          .MuiIconButton-root {
            color: #BDBDBD;
          }
          .MuiChip-root {
            color: #fff;
            background: #4BC6C6;
            border-radius: 5px;
            margin-right: 8px;    
            margin-bottom: 5px;     
            padding: 4px 6px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
          }
          .personal_doctor_page_doctors_data_info_chipgroup {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 16px;
            margin-top: 20px;
            .MuiChip-root {
              color: #fff;
              background: #4BC6C6;
              border-radius: 5px;
              margin-right: 8px;    
              margin-bottom: 5px;     
              padding: 4px 6px;
              font-size: 16px;
              font-weight: 500;
              text-align: center;
            }
            .MuiIconButton-root {
              padding: 0;
            }
          }
          #personal_doctor_page_doctors_data_info_experience {
            font-weight: bold;
            font-size: 16px;
            color: #4F4F4F;
            padding-bottom: 16px;
          }
          #personal_doctor_page_doctors_data_info_address {
            font-weight: 500;
            font-size: 17px;
            color: #4F4F4F;
            padding-bottom: 16px;
          }
          #edit_link_button {
            display: flex;
            justify-content: center;
            width: 100%;
            #personal_doctor_page_doctors_data_editbutton {
              width: 100%;
              background: #00AFCA;
              border-radius: 5px;
              font-weight: 500;
              font-size: 18px;
              color: #FFFFFF;
              padding: 13px 10px;
              margin-top: 30px;
              text-align: center;
              border: 2px solid #00AFCA;
              &:hover {
                cursor: pointer;
                background: transparent;
                color: #00AFCA;
                transition: all .3s ease-in-out;
              }
            }
          }
          #personal_doctor_page_doctors_data_savebutton {
            width: 100%;
            background: #00AFCA;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
            padding: 13px 10px;
            margin-top: 30px;
            text-align: center;
            border: 2px solid #00AFCA;
            &:hover {
              cursor: pointer;
              background: transparent;
              color: #00AFCA;
              transition: all .3s ease-in-out;
            }
          }
          #personal_doctor_page_doctors_data_addbutton {
            background: transparent;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            color: #828282;
            padding: 13px 0;
            margin-top: 30px;
            text-align: center;
            border: 2px solid #828282;
            &:hover {
              cursor: pointer;
              background: #828282;
              color: #fff;
              transition: all .3s ease-in-out;
            }
          }
          #cancel_link_button {
            display: flex;
            justify-content: center;
            width: 100%;
            #personal_doctor_page_doctors_data_cancelbutton {
              width: 100%;
              background: transparent;
              border-radius: 5px;
              font-weight: 500;
              font-size: 18px;
              color: #828282;
              padding: 13px 10px;
              margin-top: 30px;
              text-align: center;
              border: 2px solid #828282;
              &:hover {
                cursor: pointer;
                background: #828282;
                color: #fff;
                transition: all .3s ease-in-out;
              }
            }
          }
        }
      }
    }
    .personal_doctor_page_main_right {
      width: 67%;
      .personal_doctor_page_tabs_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color:#FCFCFC;
        border-radius: 5px;
        margin: 0 25px 25px 0;
        padding: 25px;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          transition: all .2s ease-in-out
        }
        .MuiAppBar-colorPrimary {
          background-color: transparent;
          color: #828282;
        }
        .MuiTabs-flexContainer {
          justify-content: space-between;
        }
        .MuiPaper-elevation4 {
          box-shadow: none;
          border-bottom: 2px solid #D3D3D3;
        }
        .MuiTabs-indicator {
          background-color: #00AFCA;
          height: 3px;
        }
        .MuiTab-textColorInherit.Mui-selected {
          color: #2B2B2B;
          font-weight: 500;
        }
        .MuiTab-root {
          font-family: 'Roboto';
          font-size: 25px;
          color: #828282;
          text-transform: none;
        }
        #personal_doctor_page_tabs_about {
          display: flex;
          flex-direction: column;
          span {
            margin-top: 15px;
            font-family: 'Roboto';
            font-size: 18px;
            color: #000000;
          }
        }
        #personal_doctor_page_tabs_map-container {
          #map {
            width: 100%;
            height: 400px;
            border-radius: 5px;
            position: relative;
          }
        }
        .personal_doctor_page_tabs_reception {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .personal_doctor_page_tabs_reception_type {
            display: flex;
            flex-direction: column;
            #personal_doctor_page_tabs_reception_type_title {
              font-family: 'Roboto';
              font-weight: 500;
              font-size: 20px;
              color: #000000;
              margin-bottom: 18px;
            }
            .personal_doctor_page_tabs_reception_type_cells {
              display: flex;
              flex-direction: column;
              #personal_doctor_page_tabs_reception_type_cells_titles {
                display: flex;
                flex-direction: row;
                th {
                  width: 100%;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 18px;
                  color: #000000;
                  padding: 19px 0;
                  text-align: center;
                  background: rgba(48, 159, 176, 0.15);
                  border-radius: 5px;
                  border: 1px solid #E0E0E0;
                  margin: 0 5px 5px 0;
                }
              }
              #personal_doctor_page_tabs_reception_type_cells_cost {
                display: flex;
                flex-direction: row;
                td {
                  width: 100%;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 18px;
                  color: #000000;
                  padding: 19px 0;
                  text-align: center;
                  background: transparent;
                  border-radius: 5px;
                  border: 2px solid #E0F1F3;
                  margin: 0 5px 5px 0;
                }
              }
            }             
          }
          .personal_doctor_page_tabs_reception_schedule {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            #personal_doctor_page_tabs_reception_schedule_title {
              font-family: 'Roboto';
              font-weight: 500;
              font-size: 20px;
              color: #000000;
              margin-bottom: 18px;
            }
            .personal_doctor_page_tabs_reception_schedule_cells {
              display: flex;
              flex-direction: column;
              #personal_doctor_page_tabs_reception_schedule_cells_titles {
                display: flex;
                flex-direction: row;
                th {
                  width: 100%;
                  font-family: 'Roboto';
                  font-weight: 500;
                  font-size: 18px;
                  color: #000000;
                  padding: 19px 0;
                  text-align: center;
                  background: rgba(48, 159, 176, 0.15);
                  border-radius: 5px;
                  border: 1px solid #E0E0E0;
                  margin: 0 5px 5px 0;
                }
              }
              #personal_doctor_page_tabs_reception_schedule_cells_cost {
                display: flex;
                flex-direction: row;
                td {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  margin: 0 5px 5px 0;
                  font-family: 'Inter', sans-serif;
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 16px;
                  color: #2B2B2B;
                  padding: 12px 0;
                  text-align: center;
                  background: #E3EFF4;
                  border-radius: 5px;
                  border: 1px solid #E3EFF4;
                  #onClinic, #onHome, #onLine {
                    width: 75%;
                    border-radius: 5px;
                    padding: 2px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 10px;
                  }
                  #onClinic {
                    background: #00C6DD;
                  }
                  #onHome {
                    background: #82D965;
                  }
                  #onLine {
                    background: #DEA2F6;
                  }
                }
              }
            }             
          }
        }
      }
    }
  }


  aside[data-testid="react-scroll-up-button"] {
    background-color: #00AFCA !important;
    border: 2px solid #00AFCA !important; 
    width: 60px !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50%;
      fill: #fff !important;
      stroke: none;
    }
  }

  .sixth-search {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    div[data-reach-combobox] {
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        &:focus {
          border: 2px solid #00AFCA;
        }
      }
    }
  }

  .locate {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    right: 8%;
    top: 3%;
    &:hover {
      cursor: pointer;
    }
    #image-compass-button {
      width: 40px;
    }
  }

  .custom-editor-demo-table{
    
  }
  .custom-editor{
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    .custom-editor-button{
      margin-left: 5px;
      outline: none;
      cursor: pointer;
      border: none;
      margin-left: 10px;
      &.custom-editor-button-save{
        background: none;
        border-radius: 5px;
        // color: #FFFFFF;
        padding: 5px;
        &:hover {
          background-color: #4CAF50;
          transition: .3s all ease-in-out;
        }
      }
      &.custom-editor-button-cancel{
        background: none;
        border-radius: 5px;
        // color: #FFFFFF;
        padding: 5px;
        &:hover {
          background-color: #F44336;
          transition: .3s all ease-in-out;
        }
      }
    }
    input {
      border: none;
      border-radius: 5px;
      padding: 10px;
      max-width: 100px;
    }
  }

  .ka-thead-cell {
    width: 14%;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    padding: 19px 0;
    text-align: center;
    background: rgba(48, 159, 176, 0.15);
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin: 0 5px 5px 0;
  }
  .ka-cell {
    margin: 0 5px 5px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 19px;
    text-align: center;
    background: #E3EFF4;
    border-radius: 5px;
    border: 1px solid #E3EFF4;
  }
  .delete-row-column-button {
    cursor: pointer;
    opacity: 0.75;
    display: inline-block;
    vertical-align: middle;
    &:hover{
      opacity: 1;
    }
  }
}