.header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 28px 80px;
  background-color: #00AFCA;
}

.header .header_nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_nav .nav_bar ul {
  list-style: none;
}

.header .header_nav .nav_bar .nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

.header .header_nav .nav_bar .nav_items li {
  margin: 0 42.5px;
  color: #fff;
}

.header .header_nav .nav_bar .nav_items li:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .header_nav .nav_bar .nav_items li a {
  color: #fff;
}

.header .header_nav .nav_bar .log-buttons-mobile {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.header .header_nav .nav_bar .log-buttons-mobile #reg-mobile {
  border-radius: 3px;
  border: 1px solid #919191;
  margin-bottom: 10px;
}

.header .header_nav .nav_bar .log-buttons-mobile #login-mobile {
  border-radius: 3px;
  border: 1px solid #919191;
  margin-bottom: 10px;
}

.header .header_nav .nav_bar .log-buttons-mobile #logout-mobile {
  color: #000;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #919191;
  margin-bottom: 10px;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.header .header_nav .nav_bar .log-buttons-mobile #logout-mobile:hover {
  cursor: pointer;
  color: #fff;
  background-color: #00AFCA;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .header_nav .icon_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_nav .icon_group #icon_group_search_link {
  padding: 6px 8px;
}

.header .header_nav .icon_group .icon_group_searchbox {
  display: block;
  position: relative;
  width: 100%;
  max-width: 53px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  overflow: hidden;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_searchbox_input {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  color: transparent;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_searchbox_input::-webkit-input-placeholder {
  color: transparent;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_searchbox_input:-ms-input-placeholder {
  color: transparent;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_searchbox_input::-ms-input-placeholder {
  color: transparent;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_searchbox_input::placeholder {
  color: transparent;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_first {
  position: absolute;
  right: calc(53px / 2);
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 23px;
  height: 23px;
  pointer-events: none;
}

.header .header_nav .icon_group .icon_group_searchbox #icon_group_first path {
  stroke: #fff;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within {
  max-width: 270px;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within #icon_group_searchbox_input {
  background-color: #fff;
  padding-right: 50px;
  color: #2b2b2b;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within #icon_group_searchbox_input::-webkit-input-placeholder {
  color: #BDBDBD;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within #icon_group_searchbox_input:-ms-input-placeholder {
  color: #BDBDBD;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within #icon_group_searchbox_input::-ms-input-placeholder {
  color: #BDBDBD;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within #icon_group_searchbox_input::placeholder {
  color: #BDBDBD;
}

.header .header_nav .icon_group .icon_group_searchbox:focus-within #icon_group_first path {
  stroke: #00afca;
}

.header .header_nav .icon_group #logout-button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.header .header_nav .icon_group #logout-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.header .header_nav .icon_group a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header_nav .icon_group .MuiPaper-root .MuiList-padding {
  padding: 15px 15px 8px;
}

.header .header_nav .icon_group .MuiPaper-root .MuiListItem-button {
  border-radius: 3px;
  border: 1px solid #919191;
  text-transform: uppercase;
}

.header .header_nav .icon_group .MuiPaper-root .MuiListItem-button {
  margin-bottom: 10px;
}

.header .header_nav .icon_group .MuiPaper-root .MuiListItem-button:hover {
  background-color: #00AFCA;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
  color: #fff;
  border-color: #00AFCA;
}

.header .header_nav .mobile-menu {
  display: none;
}

.header .header_nav .mobile-menu #menu-icon {
  width: 25px;
  height: 25px;
  color: #fff;
}

.header .header_nav .mobile-menu #menu-icon:hover {
  cursor: pointer;
}

.header .header_nav .mobile-menu #x-mark {
  width: 25px;
  height: 25px;
  color: #000;
  position: fixed;
  z-index: 1500;
  top: 28px;
  right: 45px;
}

.header .header_nav .mobile-menu #x-mark:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 28px 45px;
  }
  .header .header_nav .nav_bar .nav_items {
    display: none;
  }
  .header .header_nav .nav_bar .nav_items_mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fafafa;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1500;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 78px 0 0 45px;
  }
  .header .header_nav .nav_bar .nav_items_mobile a {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
  }
  .header .header_nav .nav_bar .nav_items_mobile a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #00AFCA;
  }
  .header .header_nav .nav_bar .log-buttons-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header_nav .icon_group {
    display: none;
  }
  .header .header_nav .mobile-menu {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 28px 39px;
  }
  .header .header_nav .nav_bar .nav_items_mobile {
    padding: 78px 0 0 39px;
  }
  .header .header_nav .mobile-menu #x-mark {
    right: 39px;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    padding: 28px 16px;
  }
  .header .header_nav .nav_bar .nav_items_mobile {
    padding: 78px 0 0 16px;
  }
  .header .header_nav .mobile-menu #x-mark {
    right: 16px;
  }
}
/*# sourceMappingURL=header.css.map */