.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 28px 80px;
  background-color: #00AFCA;

  .header_nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style: none;
  }

  .nav_bar {
    .nav_items {
      display: flex;
      flex-direction: row;
      font-size: 20px;      
      li {
        margin: 0 42.5px;
        color: #fff;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-color: #fff;
          text-decoration-thickness: 1px;
          text-underline-offset: 8px;
          transition: all .3s ease-in-out;
        }
      }
      li a {
        color: #fff;
      }
    }
  }

  .icon_group {
    display: flex;
    justify-content: space-between;
    width: 10%;
    svg:hover {
      cursor: pointer;
    }
    img {
      width: 23px;
      height: 23px;
    }
    #logout-button {
      outline: none;
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
    }
  }
}