.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 40px 85px 0 85px;
  background-color: #00C6DD;

  .header_nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 35px;
  }

  #logo_title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
  }

  .nav_bar {
    .nav_items {
      display: flex;
      flex-direction: row;
      font-size: 22px;
      li {
        margin: 0 20px;
        color: #fff;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-color: #fff;
          text-decoration-thickness: 10%;
          text-underline-offset: 5px;
        }
      }
      li a {
        color: #fff;
      }
    }
  }

  .icon_group {
    svg:first-child {
      margin-right: 35px;
    }
    svg:hover {
      cursor: pointer;
    }
  }
}

// hr {
//   padding: 0 85px;
//   border: 0;
//   height: 1px;
//   text-align: center;
//   width: 80%;
//   margin: auto;
// }