.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  padding: 30px 85px;
  background: linear-gradient(4.65deg, #FFFFFF -33.5%, #EEFDFF -33.49%, rgba(255, 255, 255, 0) 109.92%), #00C6DD;

  .footer_first_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 250px;
    #logo_title {
      font-size: 50px;
      font-weight: 600;
      color: #fff;
      align-self: flex-start;
      &:hover {
        cursor: pointer;
      }
    }
    #copyrights {
      font-weight: 300;
      font-size: 22px;
      color: #5A5959;
    }
  }

  .footer_second_col, .footer_third_col, .footer_fourth_col {
    width: 20%;
    margin: 0 20px;
    ul {
      list-style: none;
      li, li a {
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        color: #1E6871;
        &:hover {
          cursor: pointer;
          color: #000;
          transition: .3s linear;
          font-weight: 500;
          text-decoration: underline;
          text-decoration-color: #000;
          text-decoration-thickness: 10%;
          text-underline-offset: 5px;
        }
      }
    }
  }

  #footer_first_col_title, #footer_second_col_title, #footer_third_col_title, #footer_fourth_col_title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
  }
}