.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 80px 0;
  background: #FCFCFC;
  border-bottom: 1px solid #E0E0E0;;

  .footer_left_col {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    svg {
      margin-bottom: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    #footer_left_col_title {
      font-weight: 600;
      font-size: 24px;
      color: #26364B;
      font-family: 'Montserrat';
    }
  }

  .footer_right_col {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer_second_col, .footer_third_col, .footer_fourth_col {
      width: 25%;
      ul {
        list-style: none;
        li, li a {
          padding-bottom: 27px;
          font-size: 16px;
          color: #4F4F4F;
          font-family: 'Roboto';
          &:hover {
            cursor: pointer;
            transition: .3s linear;
            font-weight: 500;
            text-decoration: underline;
            text-decoration-color: #4F4F4F;
            text-decoration-thickness: 10%;
            text-underline-offset: 5px;
          }
        }
      }
    }
    #footer_second_col_title, #footer_third_col_title, #footer_fourth_col_title {
      margin-bottom: 27px;
      font-weight: bold;
      font-size: 20px;
      color: #4F4F4F;
    }
  }
  

  
}


.extra_footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 80px;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  background: #FCFCFC;;
  font-family: 'Montserrat';
  a {
    font-weight: 500;
    font-size: 16px;
    color: #828282;
  }
}