.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 80px 0;
  background: #FCFCFC;
  border-bottom: 1px solid #E0E0E0;;

  .footer_left_col {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 250px;
    #footer_left_logo {
      font-family: 'Kanit', sans-serif;
      font-size: 100px;
      color: #00AFCA;
      line-height: 90px;
      margin-bottom: 30px;
      &:hover {
        cursor: pointer;
      }
    }
    #footer_left_col_title {
      font-weight: 600;
      font-size: 24px;
      color: #26364B;
      font-family: 'Montserrat';
    }
  }

  .footer_right_col {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer_second_col, .footer_third_col, .footer_fourth_col {
      width: 25%;
      ul {
        list-style: none;
        li, li a {
          padding-bottom: 27px;
          font-size: 16px;
          color: #4F4F4F;
          font-family: 'Roboto';
          &:hover {
            cursor: pointer;
            transition: .3s linear;
            font-weight: 500;
            text-decoration: underline;
            text-decoration-color: #4F4F4F;
            text-decoration-thickness: 10%;
            text-underline-offset: 5px;
          }
        }
      }
    }
    #footer_second_col_title, #footer_third_col_title, #footer_fourth_col_title {
      margin-bottom: 27px;
      font-weight: bold;
      font-size: 20px;
      color: #4F4F4F;
    }
  }
  

  
}


.extra_footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 80px;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  background: #FCFCFC;;
  font-family: 'Montserrat';
  a {
    font-weight: 500;
    font-size: 16px;
    color: #828282;
  }
}


@media only screen and (max-width: 1024px) {
  .footer {
    padding: 50px 45px 0;
    .footer_left_col {
      width: 30%;
      height: 200px;
      #footer_left_logo {
        font-size: 80px;
        line-height: 70px;
      }
      #footer_left_col_title {
        font-size: 18px;
      }
    }
    .footer_right_col {
      width: 60%;
      .footer_second_col, .footer_third_col, .footer_fourth_col {
        ul {
          li, li a {
            padding-bottom: 27px;
            font-size: 16px;
          }
        }
      }
      #footer_second_col_title, #footer_third_col_title, #footer_fourth_col_title {
        // margin-bottom: 27px;
        // font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .extra_footer {
    padding: 30px 45px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 40px;
    .footer_left_col {
      height: 100px;
      #footer_left_logo {
        font-size: 50px;
        line-height: 40px;
      }
      #footer_left_col_title {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .footer_right_col {
      .footer_second_col, .footer_third_col, .footer_fourth_col {
        ul {
          li, li a {
            font-size: 14px;
          }
        }
      }
      #footer_second_col_title, #footer_third_col_title, #footer_fourth_col_title {
        // margin-bottom: 27px;
        // font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .extra_footer {
    padding: 30px 40px;
  }
}


@media only screen and (max-width: 375px) {
  .footer {
    padding: 16px;
    .footer_left_col {
      #footer_left_logo {
        font-size: 30px;
        line-height: 20px;
      }
    }
  }
  .extra_footer {
    padding: 30px 16px;
  }
}