.clinic_profile_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.clinic_profile_page #clinic_profile_page_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 85px;
}

.clinic_profile_page #clinic_profile_page_header #clinic_profile_page_logo_title {
  font-size: 50px;
  font-weight: 600;
  color: #00C6DD;
}

.clinic_profile_page #clinic_profile_page_header #clinic_profile_page_logo_title:hover {
  cursor: pointer;
}

.clinic_profile_page #clinic_profile_page_header #clinic_profile_page_header_button {
  padding: 4px 14px;
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #00C6DD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #00C6DD;
  border-radius: 15px;
}

.clinic_profile_page #clinic_profile_page_header #clinic_profile_page_header_button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #00C6DD;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.clinic_profile_page .clinic_profile_page_search_group_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  padding: 75px 160px;
  background-color: #00C6DD;
}

.clinic_profile_page .clinic_profile_page_search_group_container #clinic_profile_page_search_group_title {
  font-weight: bold;
  font-size: 3.5vw;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.clinic_profile_page .clinic_profile_page_search_group_container .clinic_profile_page_search_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clinic_profile_page .clinic_profile_page_search_group_container .clinic_profile_page_search_group div[role=combobox] {
  width: 20% !important;
  margin: 0 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #fff;
}

.clinic_profile_page .clinic_profile_page_search_group_container .clinic_profile_page_search_group .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  border-radius: 15px;
}

.clinic_profile_page .clinic_profile_page_search_group_container .clinic_profile_page_search_group #clinic_profile_page_search_group_button {
  width: 250px;
  height: 100%;
  padding: auto 36px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#9AF3E3), to(rgba(255, 255, 255, 0))), #00C6DD;
  background: linear-gradient(180deg, #9AF3E3 0%, rgba(255, 255, 255, 0) 100%), #00C6DD;
  border: 1px solid #00C6DD;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  font-weight: 700;
}

.clinic_profile_page .clinic_profile_page_search_group_container .clinic_profile_page_search_group #clinic_profile_page_search_group_button:hover {
  cursor: pointer;
  color: #000;
  background: transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border: 2px solid #000;
}

.clinic_profile_page .MuiBreadcrumbs-root {
  padding: 40px 85px 10px;
}

.clinic_profile_page .MuiBreadcrumbs-root .MuiBreadcrumbs-separator {
  font-size: 20px;
  color: #C4C4C4;
}

.clinic_profile_page .MuiBreadcrumbs-root #clinic_profile_page_breadcrumb_passive {
  font-size: 20px;
  color: #C4C4C4;
}

.clinic_profile_page .MuiBreadcrumbs-root #clinic_profile_page_breadcrumb_active {
  font-size: 20px;
  color: #00C6DD;
}

.clinic_profile_page #clinic_profile_page_article1 {
  padding: 20px 85px;
  font-weight: 600;
  font-size: 35px;
  color: #000;
}

.clinic_profile_page #clinic_profile_page_article2 {
  padding: 20px 85px;
  font-weight: 600;
  font-size: 30px;
  color: #00C6DD;
}

.clinic_profile_page .clinic_profile_page_data_container {
  padding: 0 85px;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data #clinic_profile_page_data_group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data #clinic_profile_page_data_group > img {
  width: 48%;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data #clinic_profile_page_data_group #clinic_profile_page_data_group_text_right {
  margin-top: 25px;
  width: 48%;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data #clinic_profile_page_data_group #clinic_profile_page_data_group_text_right_article {
  font-size: 18px;
  margin-bottom: 15px;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data #clinic_profile_page_data_group #clinic_profile_page_data_group_text_right_article:last-child {
  margin-bottom: 0;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data .clinic_profile_page_data_map_group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data .clinic_profile_page_data_map_group #clinic_profile_page_article3 {
  width: 25%;
  font-weight: 600;
  font-size: 30px;
  color: #00C6DD;
  padding-bottom: 30px;
}

.clinic_profile_page .clinic_profile_page_data_container .clinic_profile_page_data .clinic_profile_page_data_map_group canvas {
  width: 100%;
  border-radius: 15px;
}

.clinic_profile_page #clinic_profile_page_article4 {
  font-weight: 500;
  font-size: 30px;
  color: #00C6DD;
  margin: 25px 0;
  padding: 0 85px;
}

.clinic_profile_page .clinic_profile_page_sort_group {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0 85px;
}

.clinic_profile_page .clinic_profile_page_sort_group .MuiToggleButton-root {
  color: #000;
  padding: 7px 15px !important;
  text-transform: none;
  font-size: 14px;
}

.clinic_profile_page .clinic_profile_page_sort_group .MuiToggleButton-root.Mui-selected {
  color: #fff !important;
  background-color: #00C6DD !important;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_famous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_famous .MuiInputBase-root {
  background-color: #00C6DD;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_famous .MuiOutlinedInput-root {
  border-radius: 10px;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_famous .MuiOutlinedInput-input {
  padding: 10px 15px;
  padding-right: 30px;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_famous .MuiSelect-outlined {
  border-radius: 10px;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_date .MuiInputBase-root {
  background-color: #00C6DD;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_date .MuiOutlinedInput-root {
  border-radius: 10px;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_date .MuiOutlinedInput-input {
  padding: 10px 15px;
  padding-right: 30px;
}

.clinic_profile_page .clinic_profile_page_sort_group #clinic_profile_page_sort_group_date .MuiSelect-outlined {
  border-radius: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  padding: 0 85px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  padding: 30px 50px;
  margin-bottom: 60px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_avatargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_avatargroup svg {
  margin-bottom: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup {
  padding-left: 60px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_specialty {
  font-size: 17px;
  padding-bottom: 5px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_name {
  font-weight: 500;
  font-size: 25px;
  padding: 5px 0;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_name:hover {
  color: #1488FC;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_specialty_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: normal;
  font-size: 22px;
  color: #00C6DD;
  padding: 5px 5px 25px 0;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_specialty_details p:first-child {
  padding-right: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_specialty_details p:last-child {
  padding-left: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional #clinic_profile_page_doctor_list_item_infogroup_reception {
  padding-right: 45px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional #clinic_profile_page_doctor_list_item_infogroup_reception #clinic_profile_page_doctor_list_item_infogroup_receptiontitle {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 17px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional #clinic_profile_page_doctor_list_item_infogroup_reception #clinic_profile_page_doctor_list_item_infogroup_receptiontype {
  width: 112px;
  font-size: 15px;
  color: #fff;
  background-color: #00C6DD;
  padding: 9px 14px;
  border: 1px solid #00C6DD;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional #clinic_profile_page_doctor_list_item_infogroup_cost {
  padding-left: 45px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional #clinic_profile_page_doctor_list_item_infogroup_cost #clinic_profile_page_doctor_list_item_infogroup_costtitle {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 17px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup .clinic_profile_page_doctor_list_item_infogroup_additional #clinic_profile_page_doctor_list_item_infogroup_cost #clinic_profile_page_doctor_list_item_infogroup_money {
  width: 112px;
  font-size: 15px;
  color: #fff;
  background-color: #00C6DD;
  padding: 9px 14px;
  border: 1px solid #00C6DD;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup_title {
  font-weight: 500;
  font-size: 17px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup_numbericon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_left .clinic_profile_page_doctor_list_item_infogroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup #clinic_profile_page_doctor_list_item_infogroup_phonegroup_numbericon p {
  font-size: 17px;
  padding-left: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right #clinic_profile_page_doctor_list_item_right_scheduletitle {
  font-size: 17px;
  margin-bottom: 20px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right #clinic_profile_page_doctor_list_item_right_visitingdaystitle {
  font-size: 18px;
  color: #C4C4C4;
  margin-bottom: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right #clinic_profile_page_doctor_list_item_right_visitingdays {
  width: 88px;
  font-size: 14px;
  text-align: center;
  color: #00C6DD;
  padding: 7px 16px;
  border: 1px solid #00C6DD;
  border-radius: 10px;
  margin-bottom: 20px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right #clinic_profile_page_doctor_list_item_right_visitinghourstitle {
  font-size: 18px;
  color: #C4C4C4;
  margin-bottom: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right #clinic_profile_page_doctor_list_item_right_visitinghours {
  width: 90px;
  font-size: 14px;
  text-align: center;
  color: #00C6DD;
  padding: 6px;
  border: 1px solid #00C6DD;
  border-radius: 10px;
  margin-bottom: 40px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right .clinic_profile_page_doctor_list_item_right_address #clinic_profile_page_doctor_list_item_right_address_clinic {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
}

.clinic_profile_page .clinic_profile_page_doctors_list #clinic_profile_page_doctor_list_item .clinic_profile_page_doctor_list_item_right .clinic_profile_page_doctor_list_item_right_address #clinic_profile_page_doctor_list_item_right_address_data {
  font-size: 17px;
}

.clinic_profile_page .MuiToggleButton-root {
  border-radius: 10px;
}
/*# sourceMappingURL=clinic.css.map */