.clinics_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;

  #clinics_page_header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    #logo_title {
      font-size: 50px;
      font-weight: 600;
      color: #00C6DD;
      &:hover {
        cursor: pointer;
      }
    }
    #clinics_page_title {
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      color: #00C6DD;
      margin-bottom: 50px;
    }
  }

  .search_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    // div[role=combobox] {
    //   padding: 0 20px;
    // }
    #search_button {
      width: 150px;
      height: 100%;
      padding: auto 36px;
      color: #fff;
      background: #00C6DD;
      border: 2px solid #00C6DD;
      border-radius: 10px;
      font-size: 25px;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        color: #00C6DD;
        background-color: transparent;
        transition: .2s ease-in-out;
      }
    }
  }

  #clinics_page_article1 {
    padding: 20px 0;
    font-weight: 500;
    font-size: 30px;
    color: #00C6DD;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 35px;
  }

  .sort_group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .clinics_list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    #clinic_list_item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid #C4C4C4;
      border-radius: 10px;
      padding: 30px 50px;
      margin-bottom: 60px;
      
      .clinic_list_item_left {
        display: flex;
        flex-direction: row;
        width: 60%;
        .clinic_list_item_imagegroup {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 50px;
          img {
            margin-bottom: 10px;
          }
        }
        .clinic_list_item_textgroup {
          #clinic_list_item_textgroup_title {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 15px;
          }
          #clinic_list_item_textgroup_article1, #clinic_list_item_textgroup_article2, 
          #clinic_list_item_textgroup_article3 {
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 15px;
          }
          #clinic_list_item_textgroup_link {
            font-size: 16px;
            color: #00C6DD;
            &:hover {
              text-decoration: underline;
              text-underline-offset: 3px;
            }
          }
          #clinic_list_item_textgroup_doctors {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;
            img {
              padding-right: 15px;
            }
          }
        }
      }
      
      .clinic_list_item_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        #clinic_list_item_right_addressgroup {
          display: flex;
          flex-direction: row;
          #clinic_list_item_right_address {
            font-size: 14px;
            margin-bottom: 20px;
            margin-left: 15px;
          }
        }
        #clinic_list_item_right_timegroup {
          display: flex;
          flex-direction: row;
          #clinic_list_item_right_time1 {
            font-size: 14px;
            margin-bottom: 10px;
            margin-left: 15px;
          }
        }
        #clinic_list_item_right_time2, #clinic_list_item_right_time3 {
          font-size: 14px;
          margin-bottom: 10px;
          margin-left: 32px;
        }
        #clinic_list_item_right_phonegroup {
          display: flex;
          flex-direction: row;
          #clinic_list_item_right_phone {
            font-size: 14px;
            margin-bottom: 10px;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
