.search_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  

  .MuiBreadcrumbs-root {
    padding: 60px 80px 0;
    font-family: 'Roboto', sans-serif;
    .MuiBreadcrumbs-separator {
      font-size: 14px;
      color: #898F97;
    }
    #search_page_breadcrumb_passive {
      font-size: 14px;
      color: #898F97;
    }
    #search_page_breadcrumb_active {
      font-size: 14px;
      color: #00AFCA;
    }
  }

  
  #search_page_article1 {
    font-weight: bold;
    font-size: 64px;
    color: #2B2B2B;
    padding: 0 80px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
  }


  #search_page_article2 {
    font-weight: 500;
    font-size: 35px;
    color: #2B2B2B;
    padding: 0 80px;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
  }


  .search_page_search_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 80px;
    font-family: 'Roboto', sans-serif;
    div[role=combobox] {
      margin: 0 15px;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      &:hover {
        border-color: #00AFCA;
      }
    }
    div[role=combobox]:first-child {
      margin-left: 0;
    }
    .MuiFormLabel-root, .MuiInputBase-input, .MuiIconButton-root {
      color: #2B2B2B;
    }
    .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: #BDBDBD;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #00AFCA;
    }
    #search_page_search_button {
      width: 200px;
      height: 100%;
      padding: auto 36px;
      color: #fff;
      background: #00AFCA;
      border: 2px solid #00AFCA;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        color: #00AFCA;
        border-color: #00AFCA;
        background: transparent;
        transition: all .3s ease-in-out;
      }
    }
  }


  .search_page_sort_group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 0 80px;
    font-family: 'Roboto', sans-serif;
    .MuiFormGroup-root {
      flex-direction: row;
      font-family: 'Roboto', sans-serif !important;
      .MuiRadio-root {
        color: #BDBDBD;
      }
      .MuiRadio-colorSecondary.Mui-checked {
        color: #00AFCA; 
      }
      .MuiRadio-colorSecondary.Mui-checked:hover {
        background-color: #00afca18;
      }
      .MuiIconButton-colorSecondary:hover {
        background-color: #00afca18;
      }
      .MuiTypography-body1 {
        font-size: 18px;
      }
      .MuiFormControlLabel-root {
        margin-right: 22px;
      }
      // .MuiFormControlLabel-root {
      //   background-color: rgb(227, 239, 244);
      //   padding-right: 4px;
      //   border-radius: 5px;
      // }
      // .PrivateSwitchBase-root-7 {
      //   margin-left: 4px;
      // }
    }
    #search_page_sort_group_date {
      width: 15%;
      .MuiOutlinedInput-root {
        border-radius: 5px;
        background-color: #E3EFF4;
      }
      .MuiInputBase-root {
        color: #2B2B2B;
        font-size: 18px;
      }
      .MuiOutlinedInput-input {
        padding: 8px 12px;
      }
      .MuiOutlinedInput-notchedOutline {
        border-color: #E3EFF4;
      }
      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #00AFCA;
      }
    }
    #search_page_sort_group_reset {
      .MuiChip-root {
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }
      .MuiChip-label {
        font-size: 18px;
        color: #828282;
      }
    }
  }


  .search_page_doctors_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 0 55px 0 80px;
    margin-bottom: 100px;
    #search_page_doctors_slide {
      display: flex;
      flex-direction: column;
      width: 31%;
      height: auto;
      background-color:#FCFCFC;
      border-radius: 5px;
      margin: 0 25px 25px 0;
      padding: 25px;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
        transition: all .2s ease-in-out
      }
      #search_page_doctors_slide_image {
        width: 100%;
        margin-bottom: 16px;
        border-radius: 5px;
      }
      #search_page_doctors_slide_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          font-weight: bold;
          font-size: 24px;
          color: #2B2B2B;
          padding-bottom: 18px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 3px;
            transition: all .3s ease-in-out;
          }
        }
        .search_page_doctors_slide_info_chipgroup {
          width: 100%;
          padding-bottom: 16px;
          .MuiChip-root {
            color: #fff;
            background: #4BC6C6;
            border-radius: 5px;
            margin-right: 8px;    
            margin-bottom: 5px;     
            padding: 4px 6px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
          }
          .MuiIconButton-root {
            padding: 0;
          }
        }
        #search_page_doctors_slide_info_experience {
          font-weight: bold;
          font-size: 16px;
          color: #4F4F4F;
          padding-bottom: 16px;
        }
        #search_page_doctors_slide_info_address {
          font-weight: 500;
          font-size: 17px;
          color: #4F4F4F;
          padding-bottom: 16px;
        }
        #search_page_doctors_slide_info_lastblock {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          #search_page_doctors_slide_info_phonegroup {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            color: #828282;
            svg {
              margin-right: 8px;
            }
          }
          #search_page_doctors_slide_info_stargroup {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
            color: #828282;
            svg {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }


}