.map_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;


  .MuiBreadcrumbs-root {
    padding: 60px 80px 0;
    // font-family: 'Roboto', sans-serif;
    .MuiBreadcrumbs-separator {
      font-size: 14px;
      color: #898F97;
    }
    #map_page_breadcrumb_passive {
      font-size: 14px;
      color: #898F97;
    }
    #map_page_breadcrumb_active {
      font-size: 14px;
      color: #00AFCA;
    }
  }
  

  #map_page_article1 {
    font-weight: bold;
    font-size: 64px;
    color: #2B2B2B;
    padding: 0 80px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
  }


  #map_page_sort_group_reset {
    padding: 0 80px;
    margin-top: 60px;
    .MuiChip-root {
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .MuiChip-label {
      font-size: 18px;
      color: #828282;
    }
  }


  .map_page_search_group {
    padding: 30px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .MuiFormLabel-root {
      color: #BDBDBD;
    }
    .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: #BDBDBD;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #00AFCA;
    }
    .MuiFormLabel-root.Mui-focused {
      color: #00AFCA;
    }
    .MuiIconButton-root {
      color: #BDBDBD;
    }
  }
  
  
  #map-container {
    padding: 0 80px;
    #map {
      width: 100%;
      height: 600px;
      margin-bottom: 70px;
      border-radius: 5px;
    }

    .doctor-infowindow-container {
      #doctor-title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      #doctor-address {
        color: #2B2B2B;
        margin-bottom: 5px;
      }
      #doctor-link {
        color: #00AFCA;
        &:hover {
          text-decoration: underline;
        }
      }
      #doctor_info_stargroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
      }
    }
    .clinic-infowindow-container {
      #clinic-title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      #clinic-address {
        color: #2B2B2B;
        margin-bottom: 5px;
      }
      #clinic-link {
        color: #00AFCA;
        &:hover {
          text-decoration: underline;
        }
      }
      #clinic_info_stargroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
      }
    }
  }
  
  
}

