.map_page {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.map_page .MuiBreadcrumbs-root {
  padding: 60px 80px 0;
}

.map_page .MuiBreadcrumbs-root .MuiBreadcrumbs-separator {
  font-size: 14px;
  color: #898F97;
}

.map_page .MuiBreadcrumbs-root #map_page_breadcrumb_passive {
  font-size: 14px;
  color: #898F97;
}

.map_page .MuiBreadcrumbs-root #map_page_breadcrumb_active {
  font-size: 14px;
  color: #00AFCA;
}

.map_page #map_page_article1 {
  font-weight: bold;
  font-size: 64px;
  color: #2B2B2B;
  padding: 0 80px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.map_page #map_page_sort_group_reset {
  padding: 0 80px;
  margin-top: 60px;
}

.map_page #map_page_sort_group_reset .MuiChip-root {
  border-radius: 5px;
}

.map_page #map_page_sort_group_reset .MuiChip-root:hover {
  cursor: pointer;
}

.map_page #map_page_sort_group_reset .MuiChip-label {
  font-size: 18px;
  color: #828282;
}

.map_page .map_page_search_group {
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map_page .map_page_search_group .MuiFormLabel-root {
  color: #BDBDBD;
}

.map_page .map_page_search_group .MuiOutlinedInput-notchedOutline, .map_page .map_page_search_group .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #BDBDBD;
}

.map_page .map_page_search_group .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00AFCA;
}

.map_page .map_page_search_group .MuiFormLabel-root.Mui-focused {
  color: #00AFCA;
}

.map_page .map_page_search_group .MuiIconButton-root {
  color: #BDBDBD;
}

.map_page #map-container {
  padding: 0 80px;
}

.map_page #map-container #map {
  width: 100%;
  height: 600px;
  margin-bottom: 70px;
  border-radius: 5px;
}

.map_page #map-container .doctor-infowindow-container #doctor-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.map_page #map-container .doctor-infowindow-container #doctor-address {
  color: #2B2B2B;
  margin-bottom: 5px;
}

.map_page #map-container .doctor-infowindow-container #doctor-link {
  color: #00AFCA;
}

.map_page #map-container .doctor-infowindow-container #doctor-link:hover {
  text-decoration: underline;
}

.map_page #map-container .doctor-infowindow-container #doctor_info_stargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.map_page #map-container .clinic-infowindow-container #clinic-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.map_page #map-container .clinic-infowindow-container #clinic-address {
  color: #2B2B2B;
  margin-bottom: 5px;
}

.map_page #map-container .clinic-infowindow-container #clinic-link {
  color: #00AFCA;
}

.map_page #map-container .clinic-infowindow-container #clinic-link:hover {
  text-decoration: underline;
}

.map_page #map-container .clinic-infowindow-container #clinic_info_stargroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
/*# sourceMappingURL=map.css.map */